body {
    background: rgb(0, 0, 0);
}

body {
    color: white;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

@keyframes flip-back {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.island {
    box-sizing: border-box !important;
    padding: 0px !important;
    width: 600px;
}

.ui.grid.island .row {
    padding: 0px;
    position: relative;
    height: 200px;
    width: 600px;
}

.ui.grid.island .row .card {
    position: relative;
    transform-style: preserve-3d;
    animation: flip-back;
    animation-fill-mode: both;
}

.ui.grid.island .row .card.flip {
    animation: flip;
    animation-duration: 1s;
}

.ui.grid.island .row .card .side {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.ui.grid.island .row .card .front {
    z-index: 2;
    transform: rotateY(0deg);
}

.ui.grid.island .row .card .back {
    transform: rotateY(180deg);
}

.ui.grid.island .row .card.column {
    background-color: #FCFCFC;
    height: 100%;
    color: #1F1F1F;
    height: 200px;
    width: 200px !important;
    padding: 0px;
    transition: box-shadow 1s, width 0.5s, height 0.5s, left 0.5s, top 0.5s;
    z-index: 1;
    position: absolute;
}

.ui.grid.island .row .card:hover,
.ui.grid.island .row .card.hover {
    background-color: #FB0335 !important;
    cursor: pointer;
    width: 250px !important;
    height: 250px;
    top: -10%;
    left: -10%;
}

.ui.grid.island .row .card:hover {
    -webkit-box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.ui.grid.island .row .card:first-child {
    left: 0;
    top: 0;
}

.ui.grid.island .row .card:nth-child(2) {
    left: 200px;
    top: 0;
}

.ui.grid.island .row .card:last-child {
    left: 400px;
    top: 0;
}

/**
First row
*/

.ui.grid.island .row:first-child .card:first-child:hover {
    left: -25px;
    top: -25px;
}

.ui.grid.island .row:first-child .card:nth-child(2):hover {
    left: 175px;
    top: -25px;
}

.ui.grid.island .row:first-child .card:last-child:hover {
    left: 375px;
    top: -25px;
}

/*
End first row
*/

/**
Second row
*/

.ui.grid.island .row:nth-child(2) .card:first-child:hover {
    left: -25px;
    top: -25px;
}

.ui.grid.island .row:nth-child(2) .card:nth-child(2):hover {
    left: 175px;
    top: -25px;
}

.ui.grid.island .row:nth-child(2) .card:last-child:hover {
    left: 375px;
    top: -25px;
}

/*
End second row
*/

/**
Third row
*/

.ui.grid.island .row:last-child .card:first-child:hover {
    left: -25px;
    top: -25px;
}

.ui.grid.island .row:last-child .card:nth-child(2):hover {
    left: 175px;
    top: -25px;
}

.ui.grid.island .row:last-child .card:last-child:hover {
    left: 375px;
    top: -25px;
}

/*
End third row
*/

.ui.grid.island .row:nth-child(2n+1) .card.column:nth-child(2n+1),
.ui.grid.island .row:nth-child(2n) .card.column:nth-child(2n) {
    background-color: #F3F2F8;
}