body {
    background: rgb(0, 0, 0);
}

body {
    color: white;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.island {
    box-sizing: border-box !important;
    padding: 0px !important;
    width: 600px;
}

.ui.grid.island>.row {
    padding: 0px;
    position: relative;
    height: 200px;
    width: 600px;
}

.ui.grid.island>.row .card.column {
    background-color: #FCFCFC;
    height: 100%;
    color: #1F1F1F;
    height: 200px;
    width: 200px !important;
    padding: 0px;
    transition: box-shadow 1s, width 0.5s, height 0.5s, left 0.5s, top 0.5s;
    z-index: 1;
    position: absolute;
    display: none;
}

.ui.grid.island.chosen>.row .card.column {
    display: flex;
}

.ui.grid.island>.row:nth-child(2) .card.column:nth-child(2) {
    display: flex;
}

.ui.grid.island>.row:nth-child(2n) .card.column:nth-child(2) {
    background-color: #F3F2F8;
}

.ui.grid.island>.row:nth-child(2n+1) .card.column:nth-child(2n+1) {
    background-color: #F3F2F8;
}

.ui.grid.island>.row .card:hover,
.ui.grid.island>.row .card.active {
    cursor: pointer;
    width: 250px !important;
    height: 250px;
    top: -10%;
    left: -10%;
}

.ui.grid.island>.row .card .hidden {
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    transition: top 0.5s;
    visibility: hidden;
}

.ui.grid.island>.row .card .hidden input {
    border: none;
}

.ui.grid.island>.row .card:hover .hidden,
.ui.grid.island>.row .card.active .hidden {
    top: -40px;
    visibility: visible;
}

.ui.grid.island>.row .card .card-wrapper,
.ui.grid.island>.row .card .card-wrapper .card-inner {
    height: 100%;
}

.ui.grid.island>.row .card:hover .card-wrapper,
.ui.grid.island>.row .card.active .card-wrapper {
    background-color: #FB0335 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.ui.grid.island>.row .card:hover,
.ui.grid.island>.row .card.active {
    -webkit-box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    z-index: 2;
    border: 1px solid #7f7f7f;
}