body {
    background: rgb(0, 0, 0);
}

body {
    color: white;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.island {
    box-sizing: border-box !important;
    padding: 0px !important;
    width: 600px;
}

.ui.grid.island .row {
    padding: 0px;
    position: relative;
    height: 200px;
    /* perspective: 800px; */
    width: 600px;
}

.ui.grid.island .row .card {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.ui.grid.island .row .card.flip {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.ui.grid.island .row .card .side {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ui.grid.island .row .card .side>div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ui.grid.island .row .card .side>.body {
    flex: 3;
    font-size: 60px;
    transition: font-size 0.5s;
}

.ui.grid.island .row .card .side>.body i {
    display: flex;
}

.ui.grid.island .row .card:hover .side>.body {
    color: white;
    font-size: 85px;
    text-align: center;
}

.ui.grid.island .row .card .front {
    z-index: 2;
}

.ui.grid.island .row .card .back {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.ui.grid.island .row .card.column {
    background-color: #FCFCFC;
    height: 100%;
    color: #1F1F1F;
    height: 200px;
    width: 200px !important;
    padding: 0px;
    transition: transform 0.5s, box-shadow 1s, width 0.5s, height 0.5s, left 0.5s, top 0.5s;
    z-index: 1;
    position: absolute;
    font-size: 18px;
}

.ui.grid.island .row .card:hover,
.ui.grid.island .row .card.hover,
.ui.grid.island .row .card.active {
    color: #fff;
    background-color: #FB0335 !important;
    cursor: pointer;
    width: 250px !important;
    height: 250px;
    -webkit-box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 87px -5px rgba(0, 0, 0, 0.75);
    z-index: 2;
    font-size: 24px;
}


.ui.grid.island .row .card:first-child {
    left: 0;
    top: 0;
}

.ui.grid.island .row .card:nth-child(2) {
    left: 200px;
    top: 0;
}

.ui.grid.island .row .card:last-child {
    left: 400px;
    top: 0;
}

/**
First row
*/

.ui.grid.island .row:first-child .card:first-child:hover,
.ui.grid.island .row:first-child .card:first-child.active {
    left: -25px;
    top: -25px;
}

.ui.grid.island .row:first-child .card:nth-child(2):hover,
.ui.grid.island .row:first-child .card:nth-child(2).active {
    left: 175px;
    top: -25px;
}

.ui.grid.island .row:first-child .card:last-child:hover,
.ui.grid.island .row:first-child .card:last-child.active {
    left: 375px;
    top: -25px;
}

/*
End first row
*/

/**
Second row
*/

.ui.grid.island .row:nth-child(2) .card:first-child:hover,
.ui.grid.island .row:nth-child(2) .card:first-child.active {
    left: -25px;
    top: -25px;
}

.ui.grid.island .row:nth-child(2) .card:nth-child(2):hover,
.ui.grid.island .row:nth-child(2) .card:nth-child(2).active {
    left: 175px;
    top: -25px;
}

.ui.grid.island .row:nth-child(2) .card:last-child:hover,
.ui.grid.island .row:nth-child(2) .card:last-child.active {
    left: 375px;
    top: -25px;
}

/*
End second row
*/

/**
Third row
*/

.ui.grid.island .row:last-child .card:first-child:hover,
.ui.grid.island .row:last-child .card:first-child.active {
    left: -25px;
    top: -25px;
}

.ui.grid.island .row:last-child .card:nth-child(2):hover,
.ui.grid.island .row:last-child .card:nth-child(2).active {
    left: 175px;
    top: -25px;
}

.ui.grid.island .row:last-child .card:last-child:hover,
.ui.grid.island .row:last-child .card:last-child.active {
    left: 375px;
    top: -25px;
}

/*
End third row
*/

.ui.grid.island .row:nth-child(2n+1) .card.column:nth-child(2n+1),
.ui.grid.island .row:nth-child(2n) .card.column:nth-child(2n) {
    background-color: #F3F2F8;
}